$pri: #c33c33;
$sec: #00272b;
$ter: #077535;

$black: #121212;
$white: #efefef;

$info: #3787da;
$error: #f03629;
$success: #48aa25;
$warning: #cf662b;

.debug {
    background-color: green !important;
}

